<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/RMUTK.webp" type="image/x-icon">
    <title>แจ้งเตือน</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const url = window.location.pathname;
        
        // ไม่พบข้อมูลนักศึกษาจากหน้าแรก
        if(url == '/notice/stdNotFound'){
            Swal.fire({
                title: "แจ้งเตือน",
                text: "ไม่พบข้อมูลนักศึกษาที่ท่านค้นหา!",
                icon: "error",
                confirmButtonText: "OK"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/";
                }
            });
        }
        // ไม่พบ Username and Password
        if(url == '/notice/teaNotFound'){
            Swal.fire({
                title: "แจ้งเตือน",
                text: "Username หรือ Password ของท่านไม่ถูกต้อง!",
                icon: "error",
                confirmButtonText: "OK"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/login";
                }
            });
        }
    </script>
</body>
</html>