body,html{
    height: 100%;
    margin: 0;
}
li {
    list-style: none;
}
/* Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.nav-head:hover {
    color: aqua;
}
.nav-head > img {
    width: 100px;
}
.nav-alink:hover {
    color: aqua;
}

/* Main-Container */
.main-container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
    align-items: center;
    flex-direction: column;
}
.main-content {
    display: flex;
    height: 200px;
}
.from-search{
    display: flex;
    align-items: center;
}
.from-search > span {
    display: flex;
    font-size: xx-large;
    align-items: center;
    margin-right: 15px;
}
.from-search > .search-BT {
    margin-left: 15px;
    width: 150px;
}
.img-head {
    font-size: 100px;
}

/* Calender */
.checkin {
    margin-top: 25px;
}

/* Management */
.main-dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-top: 3%;
}
.header-content {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}
.row-content > div > button {
    background-color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 5px;
}

/* ALL Student Curriculum Section */
.main-dashboard-content div > table {
    text-align: center;
    margin-top: 25px;
}
.searchBox {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.searchBox > input {
    width: 450px;
}
.rowButtonBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}
.rowButtonBox > input {
    width: 300px;
}

/* Footer */
.footer-container {
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
}
.footer-container > ul {
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer-container > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-container > ul > li,.footer-container > span {
    font-size: medium;
    margin-left: 15px;
}
.footer-container > ul > li > a {
    color: white;
}

@media screen and (min-width: 320px) {
    /* Navbar */
    .nav-head {
        display: block;
        color: white;
        font-size: small;
        text-decoration: none;
    }
    .nav-alink {
        display: block;
        color: white;
        font-size: small;
        align-self: center;
        margin-right: 3.5px;
        text-decoration: none;
    }
    /* DropdownNavbar */
    .nav-item {
        display: flex;
        color: white;
        align-items: center;
        margin-right: 5px;
    }

    /* Main-Container */
    .info-main-content {
        display: flex;
        flex-direction: column;
        width: 100vw;
        text-align: center;
    }

    /* LoginPage */
    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 230px;
        width: 280px;
        border: 1px solid #c0bebeee;
        border-radius: 15px;
    }
    .loginf-head {
        margin-top: 3%;
    }
    .login-form > form {
        width: 100%;
        padding: 5%;
    }
    .login-form > form > div {
        width: 100%;
        margin-bottom: 15px;
    }
    .login-form > form > div > button {
        width: 100%;
    }

    /* Management */
    .row-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        height: 600px;
    }
    .row-content > div > button {
        background-color: aquamarine;
        border: 1px solid aquamarine;
        border-radius: 5px;
        width: 300px;
        height: 50px;
    }

    .form-container {
        display: flex;
        justify-content: center;
    }
    .form-wrapper {
        width: 50%;
    }
    .form-group {
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 480px) {
    /* Navbar */
    .nav-head {
        display: block;
        color: white;
        font-size: x-large;
        text-decoration: none;
    }
    .nav-alink {
        display: block;
        color: white;
        font-size: medium;
        align-self: center;
        text-decoration: none;
        margin-right: 15px;
    }
    /* DropdownNavbar */
    .nav-item {
        display: flex;
        color: white;
        align-items: center;
        margin-right: 20px;
    }

    /* LoginPage */
    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 450px;
        border: 1px solid #c0bebeee;
        border-radius: 15px;
    }
    .loginf-head {
        margin-top: 3%;
    }
    .login-form > form {
        width: 100%;
        padding: 5%;
    }
    .login-form > form > div {
        width: 100%;
        margin-bottom: 15px;
    }
    .login-form > form > div > button {
        width: 100%;
    }

    /* Management */
    .row-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 200px;
    }
    .row-content > div > button {
        background-color: aquamarine;
        border: 1px solid aquamarine;
        border-radius: 5px;
        width: 100px;
        height: 50px;
    }

}
@media screen and (min-width: 768px) {

    .info-main-content {
        display: flex;
        flex-direction: column;
        width: 60vw;
        text-align: center;
    }

    /* Management */
    .row-content > div > button {
        background-color: aquamarine;
        border: 1px solid aquamarine;
        border-radius: 5px;
        width: 150px;
        height: 50px;
    }
}